.Contador input{
    margin: 10px;
    font-size:  1.4rem;
    width: 60px;
}
.Contador button {
    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 1.4rem;
    background-color: #1499D3;
}
